<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="flex-container">
        <div class="title">
            <h1>Welcome to Cha Burgers!</h1>
           
        </div>
        <div class="burger-img">
            <img src="" alt="" srcset="">
        </div>
        <div class="flex-mid">
            <div class="not-devoured">
                <h2>Burgers to eat!</h2>
                <ul class="ul-Burger">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="eatText"><span> {{burger_name}}</span><button class="btnDevour"
                            data-burgerName="{{this.id}}">Devour Burger!</button></li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>

            <div class="devoured">
                <h2>Burgers Devoured</h2>
                <ul class="ul-Burger">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li class="devouredText"><span> {{burger_name}} </span>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="submit-form">
            <h3> Create a new burger</h3>
            <div class="input-wrapper"><input type="text" data-burgerName="" id="submitBurger">
            </div>
            <button class="submit-button">Submit</button>
        </div>
</body>

</html>